* {
    margin: 0;
    padding: 0;
}
                            /* Cover */
.cover-img {
    align-items: center;
    margin: 10px 0 10px 0;
}
.cover h1 {
    text-align: center;
}

                            /* Menu de Navegacion */
a {
    text-decoration: none;
}